<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carriesfrugalliving.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carriesfrugalliving.com</MSDeployServiceURL>
    <DeployIisAppPath>carriesfrugalliving.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>carriedunham</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=198.71.225.113;Initial Catalog=FrugalLivingDB;Integrated Security=False;User ID=fl_webuser;Password=I81ou812%;Connect Timeout=15;Encrypt=False;Packet Size=4096" Name="Data Source=198.71.225.113;Integrated Security=False;User ID=fl_webuser;Connect Timeout=15;Encrypt=False;Packet Size=4096;Initial Catalog=FrugalLivingDB; Password=I81ou812%" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarriesFrugalLiving.Models.ApplicationDbContext, CarriesFrugalLiving" MigrationConfiguration="CarriesFrugalLiving.Migrations.Configuration, CarriesFrugalLiving" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=198.71.225.113;Integrated Security=False;User ID=fl_webuser;Connect Timeout=15;Encrypt=False;Packet Size=4096;Initial Catalog=FrugalLivingDB; Password=I81ou812%</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>