@{
    ViewBag.Title = "About - Carrie's Frugal Living";
}
<h2 class="fonttitle color-primary-0  well-lg" >@ViewBag.Title</h2>
<section>
  
    <div class=" floatright"> <img src="~/Images/dollar.png" alt="dollar bill" class="flex" /> </div>


    <h3 class="fonttitle ">Mission</h3>

</section>

